.common {
    font-family: Lora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    position: absolute;
    width:50%;
    height:48%;
}

.nav {
    color:darkolivegreen;
    top: 0%;
    right: 5px;
    height: 4%;
    left: 5px;
    text-align:right;
}
.nav a:hover {
    color:darkred;
}
.nav a {
    color:inherit;
}
.chart1 {
    top:4%;
    bottom:50%;
    right:50%;
    left: 0%;
    
    
}
.chart2 {
    top:4%;
    bottom:50%;
    right:0%;
    left:50%;
    
}
.chart3 {
    top:52%;
    bottom:0%;
    right:50%;
    left: 0%;
    
}
.chart4 {
    top:52%;
    bottom:0%;
    right:0%;
    left:50%;
    
}